@import "../../../styles/mixins.scss";

.input {
  padding: 12px 16px;
  border-radius: 24px;
  background: var(--input-background-color);
  border: 1px solid var(--input-background-color);
  height: 36px;
  box-sizing: border-box;
  width: 100%;
  gap: 12px;
}

.input_all {
  display: flex;
  flex-direction: row;
  align-items: center;
}