@use "../../styles/variables.scss";
@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

  .burgerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
