@import "../../../styles/variables";

.infoContent {
  display: flex;
  flex-wrap: wrap;

  & > div {
    padding-right: 24px;
  }

  & > div:last-child {
    padding-right: 0;
  }
}

.headingWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 40px;
  border-bottom: 1px solid var(--Grey-200, #E2E2E2);
}

.button {
  position: absolute;
  right: 0;
  height: 40px;
  margin-right: 20px;
}

.wrapper {
  display: flex;
  height: 100dvh;
}

.roomCard {
  border-left: 1px solid var(--Grey-200, #E2E2E2);
}

