@use "../../styles/variables";

.page {
  display: flex;
  align-items: stretch;
  max-width: 100dvw;
  min-height: 100dvh;
  position: relative;
}

@media (max-width: 45rem) {
  .page {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 0; // Navigation bar is fixed at bottom
  }
}