:root {
  --lilac-tag-bg-color: #E3DDF2;
  --lilac-tag-text-color: #574191;
  --lilac-tag-border-color: #C1B5E3;

  --orange-tag-bg-color: #FADBD7;
  --orange-tag-text-color: #AE372A;
  --orange-tag-border-color: #F4AFA7;

  --gray-tag-bg-color: #EEE;
  --gray-tag-text-color: #545454;
  --gray-tag-border-color: #E2E2E2;

  --green-tag-bg-color: #DAF0E3;
  --green-tag-text-color: #368759;
  --green-tag-border-color: #AEDDC2;

  --yellow-tag-bg-color: #FFF2D9;
  --yellow-tag-text-color: #BC8B2C;
  --yellow-tag-border-color: #FFE3AC;

}

.lilac-tag {
  background-color: var(--lilac-tag-bg-color);
  color: var(--lilac-tag-text-color);
  border: 1px solid var(--lilac-tag-border-color);
}
.orange-tag {
  background-color: var(--orange-tag-bg-color);
  color: var(--orange-tag-text-color);
  border: 1px solid var(--orange-tag-border-color);
}
.gray-tag {
  background-color: var(--gray-tag-bg-color);
  color: var(--gray-tag-text-color);
  border: 1px solid var(--gray-tag-border-color);
}
.green-tag {
   background-color: var(--green-tag-bg-color);
   color: var(--green-tag-text-color);
   border: 1px solid var(--green-tag-border-color);
}
.yellow-tag {
   background-color: var(--yellow-tag-bg-color);
   color: var(--yellow-tag-text-color);
   border: 1px solid var(--yellow-tag-border-color);
}
